#page-header-logo {
    background: url("../img/logo32x32.png") 0 0;
}
fieldset {
    border: none;
}
input[type="submit"] {
    margin-top: 1em;
}
legend {
    font-style: italic;
}
.footnote {
    margin-top: 1em;
}
